body {
  background-color: #d0d9dd;
}

#main-box {
  margin-top: 150px;
}

/* ---------- Forms ---------- */

#show-hide {
  line-height: 1.3;
}

.fb-icon {
  height: 36px;
  width: 36px;
  position: absolute;
  bottom: 74px;
  left: 28px;
}

@media only screen and (max-width: 360px) {
  .fb-icon {
    height: 34px;
    width: 34px;
    left: 22px;
  }
}

.fb-btn {
  background-color: #3b5998;
}
